body {
    background-color: #ffffff;
    color: #071c4d;
    font-family: "Assistant", sans-serif;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;
            font-weight: 300;
            &.active {
                font-weight: 600;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    color: #ffffff;
    &:hover {
        background-color: #10368e;
        color: #ffffff;
    }
}

//header
header {
    padding: 173px 0px 172px;
    margin-top: -70px;
    background-image: url("../images/bg_hero.jpg");
    background-size: cover;
    h1,
    p {
        color: #ffffff;
    }
    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #fc9648;
        color: #ffffff;
        &:hover {
            background-color: #fcb278;
            color: #ffffff;
        }
    }
}

//statistics
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #04194a;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: #ffffff;
        }
        h2 {
            font-family: "Playfair Display", serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #ffffff;
        }
        .travel-location {
            font-size: 26px;
            color: #ffffff;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #fc9648;
                color: #ffffff;
                &:hover {
                    background-color: #fcb278;
                    color: #ffffff;
                }
            }
        }
    }
}

//networks
.section-networks {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

//testimonials
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    margin-bottom: 50px;
    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }
    .testimonial-content {
        min-height: 380px;
    }
    h3 {
        font-size: 22px;
    }
    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        max-height: 160px;
    }
    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }
    hr {
        margin-left: -20px;
        margin-right: -20px;
    }
    .btn-get-started {
        background-color: #fc9648;
        color: #ffffff;
        &:hover {
            background-color: #fcb278;
            color: #ffffff;
        }
    }
    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;
        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

//footer
.section-footer {
    a {
        color: #04194a;
    }
    .container-fluid {
        .row {
            text-align: center;
        }
    }
}

//details
.section-details-header {
    min-height: 310px;
    background-color: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
}

.breadcrumb-item {
    &.active {
        font-weight: bold;
        color: #071c4d;
    }
}

//details description
//content kiri
.card-details {
    padding: 30px;
    border-radius: 11px;
    margin-bottom: 10px;
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
        color: #b1b1b1;
    }
    .features {
        margin-top: 20px;
        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }
    .features-image {
        width: 45px;
        height: 45px;
        float: left;
    }
    .gallery {
        .xzoom-container {
            display: block;
            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
        }
        .xzoom-thumbs {
            .xactive {
                border: 4px solid #1abc9c;
                box-shadow: none;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .member {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }
    .trip-informations {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #071c4d;
        }
        td {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
        .text-blue {
            color: #04194a;
            font-weight: bold;
        }
        .text-orange {
            color: #fc9648;
            font-weight: bold;
        }
    }
    .payment-instruction {
        font-weight: 300px;
        font-size: 14px;
        color: #b1b1b1;
    }
    .bank {
        .bank-item {
            h3 {
                font-size: 18px;
                color: #071c4d;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
                h3 {
                    font-weight: 400;
                }
                p {
                    font-weight: normal;
                    font-size: 16px;
                    color: #04194a;
                }
            }
        }
        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
    .disclaimer {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }
    h3 {
        font-weight: 600;
        font-size: 14px;
        color: #071c4d;
    }
    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }
        .input-group-append {
            .btn {
                padding-right: 30px;
                padding-top: 5px;
                padding-left: auto;
            }
        }
    }
    .btn-add-now {
        background-color: #071c4d;
        color: #e3e3e3;
        &:hover {
            background-color: #10368e;
            color: #e3e3e3;
        }
    }
}

//content kanan
.join-container {
    margin-top: -16px;
}

.btn-join-now {
    background-color: #fc9648;
    color: #ffffff;
    border-radius: 0;
    &:hover {
        background-color: #fcb278;
        color: #ffffff;
    }
}

.card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.section-success {
    height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }
    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #ffffff;
        &:hover {
            background-color: #10368e;
            color: #ffffff;
        }
    }
}

.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #ffffff 60%, #e4e6eb 40%);
        width: 100vw;
        height: 100vh;
    }
    .page-login {
        height: 100vh;
    }
    .btn-login {
        background-color: #fc9648;
        color: #ffffff;
        border-radius: 0;
        &:hover {
            background-color: #fcb278;
            color: #ffffff;
        }
    }
    .section-left {
        h1 {
            font-family: "Playfair Display";
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #04194a;
        }
    }
    .section-right {
        a {
            font-family: Assistant;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #e5e0e0;
        }
    }
}