body {
    background-color: #fafafa;
    color: #071C4D;
    font-family: 'Assistant', sans-serif;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            font-weight: 300;
            &.active {
                font-weight: 600;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #FFFFFF;
    &:hover {
        background-color: #10368E;
        color: #FFFFFF;
    }
}

//header
header {
    padding: 173px 0px 172px;
    margin-top: -70px;
    background-image: url('../images/bg_hero.jpg');
    background-size: cover;
    h1,
    p {
        color: #FFFFFF;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #FC9648;
        color: #FFFFFF;
        &:hover {
            background-color: #FCB278;
            color: #FFFFFF;
        }
    }
}

//statistics
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background-color: #FFFFFF;
        padding-left: 40px;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #04194A;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: #FFFFFF;
        }
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #FFFFFF;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #FFFFFF;
        }
        .travel-location {
            font-size: 26px;
            color: #FFFFFF;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #FC9648;
                color: #FFFFFF;
                &:hover {
                    background-color: #FCB278;
                    color: #FFFFFF;
                }
            }
        }
    }
}

//networks
.section-networks {
    background-color: #FFFFFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

//testimonials
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    margin-bottom: 50px;
    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }
    .testimonial-content {
        min-height: 380px;
    }
    h3 {
        font-size: 22px;
    }
    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6E6E6E;
        max-height: 160px;
    }
    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6E6E6E;
    }
    hr {
        margin-left: -20px;
        margin-right: -20px;
    }
    .btn-get-started {
        background-color: #FC9648;
        color: #FFFFFF;
        &:hover {
            background-color: #FCB278;
            color: #FFFFFF;
        }
    }
    .btn-need-help {
        background-color: #F2F2F2;
        color: #c3c3c3;
        &:hover {
            background-color: #FAFAFA;
            color: #c3c3c3;
        }
    }
}

//footer
.section-footer {
    a {
        color: #04194A;
    }
    .container-fluid {
        .row {
            text-align: center;
        }
    }
}

//details
.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
}

.breadcrumb-item {
    &.active {
        font-weight: bold;
        color: #071C4D;
    }
}

//details description
//content kiri
.card-details {
    padding: 30px;
    border-radius: 11px;
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
        color: #B1B1B1;
    }
}

.features {
    margin-top: 20px;
    h3 {
        font-size: 18px;
        color: #071C4D;
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
}

.description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

.features-image {
    width: 45px;
    height: 45px;
    float: left;
}

.gallery {
    .xzoom-container {
        display: block;
        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }
    }
    .xzoom-thumbs {
        .xactive {
            border: 4px solid #1ABC9C;
            box-shadow: none;
        }
        a {
            text-decoration: none;
        }
    }
}

//content kanan
.join-container {
    margin-top: -16px;
}

.btn-join-now {
    background-color: #FC9648;
    color: #E3E3E3;
    border-radius: 0;
    &:hover {
        background-color: #FCB278;
        color: #E3E3E3;
    }
}

.card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.member {
    .member-image {
        width: 40px;
        height: 40px;
    }
}

.trip-informations {
    th {
        font-weight: normal;
    }
    td {
        color: #AEAEAE;
    }
}