body {
    background-color: #e4e6eb;
    color: #071C4D;
    font-family: 'Assistant', sans-serif;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            font-weight: 300;
            &.active {
                font-weight: 600;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #FFFFFF;
    &:hover {
        background-color: #10368E;
        color: #FFFFFF;
    }
}

//header
header {
    padding: 173px 0px 172px;
    margin-top: -70px;
    background-image: url('../images/bg_hero.jpg');
    background-size: cover;
    h1,
    p {
        color: #FFFFFF;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #FC9648;
        color: #FFFFFF;
        &:hover {
            background-color: #FF9E53;
            color: #FFFFFF;
        }
    }
}

//statistics
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background-color: #FFFFFF;
        padding-left: 60px;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #04194A;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin: 150px;
        h2,
        p {
            color: #FFFFFF;
        }
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #FFFFFF;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #FFFFFF;
        }
        .travel-location {
            font-size: 26px;
            color: #FFFFFF;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #FC9648;
                color: #FFFFFF;
                &:hover {
                    background-color: #FF9E53;
                    color: #FFFFFF;
                }
            }
        }
    }
}