body {
  background-color: #fafafa;
  color: #071C4D;
  font-family: 'Assistant', sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #071C4D !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071C4D;
  color: #FFFFFF;
}

.btn-login:hover {
  background-color: #10368E;
  color: #FFFFFF;
}

header {
  padding: 173px 0px 172px;
  margin-top: -70px;
  background-image: url("../images/bg_hero.jpg");
  background-size: cover;
}

header h1,
header p {
  color: #FFFFFF;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FC9648;
  color: #FFFFFF;
}

header .btn-get-started:hover {
  background-color: #FCB278;
  color: #FFFFFF;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #FFFFFF;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
}

.section-stats p {
  font-size: 20px;
  font-weight: 300;
}

.section-popular {
  min-height: 540px;
  background-color: #04194A;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #FFFFFF;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #FFFFFF;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #FFFFFF;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #FFFFFF;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FC9648;
  color: #FFFFFF;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #FCB278;
  color: #FFFFFF;
}

.section-networks {
  background-color: #FFFFFF;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  margin-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-size: 22px;
}

.section-testimonial-content .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6E6E6E;
  max-height: 160px;
}

.section-testimonial-content .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6E6E6E;
}

.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #FC9648;
  color: #FFFFFF;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #FCB278;
  color: #FFFFFF;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #c3c3c3;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #FAFAFA;
  color: #c3c3c3;
}

.section-footer a {
  color: #04194A;
}

.section-footer .container-fluid .row {
  text-align: center;
}

.section-details-header {
  min-height: 310px;
  background-color: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details p {
  font-size: 18px;
  color: #B1B1B1;
}

.features {
  margin-top: 20px;
}

.features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.features p {
  margin-bottom: 0;
}

.description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-thumbs .xactive {
  border: 4px solid #1ABC9C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gallery .xzoom-thumbs a {
  text-decoration: none;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #FC9648;
  color: #E3E3E3;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: #FCB278;
  color: #E3E3E3;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.member .member-image {
  width: 40px;
  height: 40px;
}

.trip-informations th {
  font-weight: normal;
}

.trip-informations td {
  color: #AEAEAE;
}
/*# sourceMappingURL=main.css.map */